<h3>Профиль</h3>
<div class="prColumn prLeftColumn">
</div>

<div class="prColumn prRightColumn">
    <div class="row labelsRow">

        <div class="prColumn labels">
            <label>Исходный файл для построения профиля:
                 <select name="fileNameSelect" ng-model="profileParams.fileName">
                   <option ng-repeat="filename in filenames"
                           ng-value="option.id" class="panel panel-primary"> {{filename}}</option>
                 </select>
             </label><br>
            <label>Радиус фотоприемника:{{profile.surfaceRadius}} </label><br>
            <label>Смещение осветителя: {{profile.emitterYOffset}} </label><br>
            <label>Zmin осветителя: {{profile.initialEmitterHeightPosition}}</label><br>
            <label>Шаг осветителя:  {{profile.emitterHeightStep}}</label><br>
            <label>Количество точек на сечение:  {{profile.discretePoints}}</label><br>
            <label>Количество сечений:  {{profile.radialProfilesNumber}}</label><br>
              <input type="button" value="Рассчет профиля" ng-click="calcProfile()" class="btn btn-primary"><br>
        </div>
        <div>
            <p>Настройки</p><br>
            <p><input type="radio" name="settings" value="grann">Гранность</p>
            <p><input type="radio"name="settings" value="voln">Волнистость</p><br>
            <input type="button" value="Рассчитать круглограмму" ng-click="calculateCruglogramme()" class="btn btn-primary"><br>
            <input type="button" value="Записать данные в файл" ng-click="uploadCruglogramme()" class="btn btn-primary"><br>
        </div>
    </div>
</div>
